@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
  .discript-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .pages {
    transition: font-size 0.5s;
  }
  @keyframes funcnav{
    0%{
      margin-right: 0px/* 20px */;
      opacity: 0;
    }

    100%{
      margin-right: 35px;
      opacity: 1;
    }
  }

  .navfunc{
    animation: funcnav 0.4s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes mapnav{
    0%{
      background-color: rgb(255 255 255);
      opacity: 0;
    }

    100%{
      background-color: rgb(250 250 249);
      opacity: 1;
    }
  }

  .navmap{
    animation: mapnav 0.5s ease;
    animation-iteration-count: 1;
  }

  

}