@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
  .discript-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  .discript-text-mobile {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }


  @keyframes pagefunc{
    0%{
      font-size:10px;
    }

    100%{
      @apply
      mobile:text-[60px] 
      pad:text-[96px] 
      pc:text-[128px] 
      pc:pl-[90px] 
      4k:text-[140px]
    }
  }


  .pages {
    animation: pagefunc 0.5s ease;
    animation-iteration-count: 1;
  }


  @keyframes funcnav{
    0%{
      margin-right: 0px/* 20px */;
      opacity: 0;
    }

    100%{
      margin-right: 35px;
      opacity: 1;
    }
  }

  .navfunc{
    animation: funcnav 0.4s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes mapnav{
    0%{
      background-color: rgb(255 255 255);
      opacity: 0;
    }

    100%{
      background-color: rgb(250 250 249);
      opacity: 1;
    }
  }

  .navmap{
    animation: mapnav 0.8s;
    animation-iteration-count: 1;
  }

  .apple{
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  /* .bgimg:before{
    background-color: #394245;
    background-image: linear-gradient(234deg, #394245 0%, #000 100%);
  } */


}