@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
  .discript-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .pages {
    transition: font-size 0.5s;
  }
  

}